<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="assets/styles/styles.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="assets/js/core.js"></script>
</head>

<body>
	<div ng-app="app">
		<div class="content">
			<div class="search" ng-controller="search-controller">
				<h1>Where to next?</h1>
				<div class="searchflex">
					<i id="lens" class="material-icons">search</i>
					<input id="searchfield" type="text" placeholder="Search or enter web address" ng-model="request" ng-model-options="{ debounce: 250 }"
					 ng-keydown="$event.keyCode === 13 && find()" />
					<div class="arrow" ng-click="find()">&#8594</div>
				</div>
			</div>
			<div class="top-sites">
				<div class="top-sites-header">
					<h1>Top sites</h1>
					<i id="gear" class="material-icons">settings</i>
				</div>
				<div class="sites" ng-controller="topsites-controller">
					<div class="site" ng-repeat="item in topsites" ng-click="goTo(item.link)">
						<img class="site-img" ng-src="{{ ::item.img}}"></img>
						<p>{{ ::item.name}}</p>
					</div>
				</div>
			</div>
			<div class="feed" ng-controller="feed-controller">
				<div class="feed-menu">
					<a class="feed-menu-item" ng-repeat="item in menu" ui-sref="{{ ::item.toLowerCase()}}" ui-sref-active="feed-menu-active">{{ ::item}}</a>
					<div class="feed-menu-morebutton">
						<p>&#8230</p>
						<div class = "feed-menu-morebutton-dropdown">
							<a class = "feed-menu-morebutton-dropdown-item" ui-sref="entertainment"><h2>Entertainment</h2></a>
							<a class = "feed-menu-morebutton-dropdown-item" ui-sref="sports"><h2>Sports</h2></a>
							<a class = "feed-menu-morebutton-dropdown-item" ui-sref="money"><h2>Money</h2></a>
							<a class = "feed-menu-morebutton-dropdown-item" ui-sref="lifestyle"><h2>Lifestyle</h2></a>
							<a class = "feed-menu-morebutton-dropdown-item" ui-sref="autos"><h2>Autos</h2></a>
							<a class = "feed-menu-morebutton-dropdown-item" ui-sref="video"><h2>Video</h2></a>
						</div>
					</div>
				</div>
				<h1>powered by MSN</h1>
			</div>
			<div class="bottom" ng-controller="news-controller" infinite-scroll="getNews()" infinite-scroll-disabled="isDone" ui-view></div>
		</div>
	</div>
</body>

</html>