<div class="bottom-weather" ng-controller="weather-controller as weatherCtrl" style="order: 1">
        <weather-directive></weather-directive>
</div>
<div class="bottom-{{item.clName}}" ng-repeat="item in news" ng-click="goToArticle(item.url)" style="order: {{$index*2}}">
        <news-directive></news-directive>
</div>