<img class="bottom-{{item.clName}}-picture" ng-src="{{item.urlToImage}}">
</img>
<a class="bottom-{{item.clName}}-category" ui-sref="{{item.category}}" ng-click="$event.stopPropagation()">{{item.category}}</a>
<h1 class="bottom-{{item.clName}}-h1">{{item.title}}</h1>
<div class="bottom-{{item.clName}}-source">{{item.source}}</div>