<div class="bottom-weather-header">
    <h1 class="bottom-weather-header-city" ng-click="weatherCtrl.goToWeather()">{{ ::weatherCtrl.city}}</h1>
    <i class="material-icons bottom-weather-header-gotobutton" ng-click="weatherCtrl.goToWeather()">keyboard_arrow_right</i>
    <div class="bottom-weather-header-button" ng-click="weatherCtrl.closeWeather()">
        <p>X</p>
    </div>
</div>
<div class="bottom-weather-current" ng-click="weatherCtrl.goToWeather()">
    <img class="bottom-weather-current-logo" ng-src="{{ ::weatherCtrl.logo}}"></img>
    <h1 class="bottom-weather-current-temperature">{{ ::weatherCtrl.temperature}}<span class="bottom-weather-current-celsium">&deg;C</span></h1>
    <h1 class="bottom-weather-current-condition">{{ ::weatherCtrl.condition}}<span class="bottom-weather-current-precipitation"><img src="assets/img/raindrop.png"></img>{{ ::weatherCtrl.precipitation}}mm</span></h1>
</div>
<div class="bottom-weather-forecast">
    <div class="bottom-weather-forecast-item" ng-repeat="fcast in weatherCtrl.forecasts" ng-click="weatherCtrl.goToWeather()">
        <h2 class="bottom-weather-forecast-item-day">{{ ::fcast.day}}</h2>
        <img class="bottom-weather-forecast-item-logo" ng-src="{{fcast.logo}}"></img>
        <h2 class="bottom-weather-forecast-item-maxtemp">{{ ::fcast.maxtemp}}&#176</h2>
        <h2 class="bottom-weather-forecast-item-mintemp">{{ ::fcast.mintemp}}&#176</h2>
    </div>
</div>
<h2 class="bottom-weather-info">Data from Apixu | Updated {{ ::weatherCtrl.updated}} mins ago
    </h2