body {
  background-color: #f1f1f1;
  font-family: Calibri, sans-serif, Arial;
  font-size: 12px;
  margin: 0;
}
body h1 {
  font-size: 26px;
  font-weight: normal;
}
body h2 {
  font-size: 16px;
  font-weight: 100;
}
.content {
  width: 600px;
  margin: 0 auto;
}
.content .search {
  margin: 0 auto;
  width: 60%;
}
.content .search h1 {
  text-align: center;
  margin-top: 35px;
  font-weight: 300;
}
.content .search .searchflex {
  display: flex;
  flex-direction: row;
  outline: 1px solid grey;
  outline-width: thin;
  justify-content: center;
  margin-top: 25px;
  background-color: white;
}
.content .search .searchflex #lens {
  padding-top: 4px;
  padding-left: 5px;
}
.content .search .searchflex input {
  width: 100%;
  padding: 5px;
  border: 0;
  font-size: 14px;
}
.content .search .searchflex .arrow {
  color: white;
  background-color: #33AED6;
  font-size: 16px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: default;
  padding-top: 5px;
}
.content .search .searchflex .arrow:hover {
  opacity: .7;
}
.content .top-sites .top-sites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.content .top-sites .top-sites-header h1 {
  font-size: 20px;
}
.content .top-sites .top-sites-header #gear {
  display: none;
}
.content .top-sites .top-sites-header #gear:hover {
  cursor: pointer;
}
.content .top-sites .sites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
}
.content .top-sites .sites .site {
  width: 125px;
  height: 100px;
  background-color: #9ed4d0;
  font-size: 16px;
  margin-bottom: 25px;
}
.content .top-sites .sites .site:hover {
  cursor: pointer;
  opacity: .9;
}
.content .top-sites .sites .site .site-img {
  height: 32px;
  width: 32px;
  display: block;
  margin: auto;
  margin-top: 10px;
}
.content .top-sites .sites .site p {
  text-align: center;
  margin: 0;
  padding-top: 5px;
}
.content .feed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1;
  background-color: #f1f1f1;
}
.content .feed-menu {
  display: flex;
  margin-top: 15px;
}
.content .feed-menu-item {
  font-size: 20px;
  margin-left: 25px;
  color: black;
  text-decoration: none;
}
.content .feed-menu-item:nth-last-child(-n+7) {
  display: none;
}
.content .feed-menu-item:first-child {
  margin-left: 0;
}
.content .feed-menu-item:last-child {
  display: block;
}
.content .feed-menu-item:hover {
  color: #6A97EB;
}
.content .feed-menu-morebutton {
  font-size: 20px;
  margin-left: 25px;
}
.content .feed-menu-morebutton p {
  margin-top: -5px;
  margin-bottom: 0;
}
.content .feed-menu-morebutton:hover {
  cursor: pointer;
}
.content .feed-menu-morebutton-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.content .feed-menu-morebutton-dropdown-item {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
}
.content .feed-menu-morebutton-dropdown-item h2 {
  height: 30px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-top: 15px;
  margin-left: 10px;
}
.content .feed-menu-morebutton-dropdown-item:hover {
  background-color: #E6E6E6;
}
.content .feed-menu-morebutton-dropdown-item:hover > h2 {
  color: #6A97EB;
}
.content .feed-menu-morebutton:hover .feed-menu-morebutton-dropdown {
  display: block;
}
.content .feed-menu-active {
  color: black;
  font-weight: 700;
  border-bottom: 3px solid black;
  padding-bottom: 3px;
}
.content .feed h1 {
  font-size: 12px;
  color: grey;
}
.content .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  flex-direction: row;
}
.content .bottom-hidden {
  display: none;
}
.content .bottom-weather {
  width: 290px;
  height: 350px;
  background-color: white;
  margin-bottom: 25px;
}
.content .bottom-weather-header {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 40px;
}
.content .bottom-weather-header-city {
  font-size: 18px;
}
.content .bottom-weather-header-city:hover {
  text-decoration: underline;
  cursor: pointer;
}
.content .bottom-weather-header-gotobutton {
  color: grey;
}
.content .bottom-weather-header-gotobutton:hover {
  cursor: pointer;
}
.content .bottom-weather-header-button {
  font-size: 26px;
}
.content .bottom-weather-header-button p {
  margin-bottom: 25px;
}
.content .bottom-weather-header-button:hover {
  cursor: pointer;
}
.content .bottom-weather-current {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 15px;
}
.content .bottom-weather-current-temperature {
  font-size: 60px;
  font-weight: 100;
  margin: 0;
}
.content .bottom-weather-current-celsium {
  position: relative;
  font-size: 26px;
  bottom: 20px;
}
.content .bottom-weather-current-condition {
  font-size: 16px;
  font-weight: 100;
  margin: 0;
}
.content .bottom-weather-current-precipitation {
  display: block;
}
.content .bottom-weather-current:hover {
  cursor: pointer;
}
.content .bottom-weather-forecast {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}
.content .bottom-weather-forecast-item {
  height: 150px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}
.content .bottom-weather-forecast-item-day {
  margin: 10px 0;
}
.content .bottom-weather-forecast-item-logo {
  height: 32px;
  width: 32px;
}
.content .bottom-weather-forecast-item-maxtemp,
.content .bottom-weather-forecast-item-mintemp {
  margin: 0;
  font-size: 20px;
}
.content .bottom-weather-forecast-item-mintemp {
  padding-bottom: 10px;
}
.content .bottom-weather-forecast-item-maxtemp {
  padding-top: 10px;
}
.content .bottom-weather-forecast-item:hover {
  cursor: pointer;
  filter: brightness(95%);
}
.content .bottom-weather-info {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 12px;
  color: grey;
  font-weight: 200;
}
.content .bottom-item1x2,
.content .bottom-item2x2 {
  width: 290px;
  height: 350px;
  background-color: white;
  position: relative;
  margin-bottom: 25px;
}
.content .bottom-item1x2-picture,
.content .bottom-item2x2-picture {
  height: 45%;
  width: 100%;
}
.content .bottom-item1x2-category,
.content .bottom-item2x2-category {
  position: absolute;
  left: 10px;
  top: 175px;
  font-family: Calibri, sans-serif, Arial;
  font-size: 14px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}
.content .bottom-item1x2-category:hover,
.content .bottom-item2x2-category:hover {
  color: grey;
  border-color: grey;
}
.content .bottom-item1x2-category:hover + .bottom-item1x2-h1,
.content .bottom-item2x2-category:hover + .bottom-item1x2-h1 {
  text-decoration: none;
}
.content .bottom-item1x2-h1,
.content .bottom-item2x2-h1 {
  position: absolute;
  font-weight: 300;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.content .bottom-item1x2-source,
.content .bottom-item2x2-source {
  position: absolute;
  left: 40px;
  bottom: 10px;
  font-size: 14px;
  color: grey;
}
.content .bottom-item1x2:hover,
.content .bottom-item2x2:hover {
  cursor: pointer;
}
.content .bottom-item1x2:hover .bottom-item1x2-picture,
.content .bottom-item2x2:hover .bottom-item1x2-picture,
.content .bottom-item1x2:hover .bottom-item2x2-picture,
.content .bottom-item2x2:hover .bottom-item2x2-picture {
  filter: brightness(70%);
}
.content .bottom-item1x2:hover h1,
.content .bottom-item2x2:hover h1 {
  text-decoration: underline;
}
.deleteWeather {
  animation: deleteWeather 2s;
  -webkit-animation: deleteWeather 2s;
}
.putNews {
  animation: putNews 2s;
  -webkit-animation: putNews 2s;
}
@keyframes deleteWeather {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes putNews {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 949px) {
  .content .bottom-item1x2,
  .content .bottom-item2x2 {
    width: 290px;
    height: 350px;
    background-color: white;
    position: relative;
    margin-bottom: 25px;
  }
  .content .bottom-item1x2-picture,
  .content .bottom-item2x2-picture {
    height: 45%;
    width: 100%;
  }
  .content .bottom-item1x2-category,
  .content .bottom-item2x2-category {
    position: absolute;
    left: 10px;
    top: 175px;
    font-family: Calibri, sans-serif, Arial;
    font-size: 14px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
  }
  .content .bottom-item1x2-category:hover,
  .content .bottom-item2x2-category:hover {
    color: grey;
    border-color: grey;
  }
  .content .bottom-item1x2-category:hover + .bottom-item1x2-h1,
  .content .bottom-item2x2-category:hover + .bottom-item1x2-h1 {
    text-decoration: none;
  }
  .content .bottom-item1x2-h1,
  .content .bottom-item2x2-h1 {
    position: absolute;
    font-weight: 300;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .content .bottom-item1x2-source,
  .content .bottom-item2x2-source {
    position: absolute;
    left: 40px;
    bottom: 10px;
    font-size: 14px;
    color: grey;
  }
  .content .bottom-item1x2:hover,
  .content .bottom-item2x2:hover {
    cursor: pointer;
  }
  .content .bottom-item1x2:hover .bottom-item1x2-picture,
  .content .bottom-item2x2:hover .bottom-item1x2-picture,
  .content .bottom-item1x2:hover .bottom-item2x2-picture,
  .content .bottom-item2x2:hover .bottom-item2x2-picture {
    filter: brightness(70%);
  }
  .content .bottom-item1x2:hover h1,
  .content .bottom-item2x2:hover h1 {
    text-decoration: underline;
  }
}
@media (min-width: 950px) {
  .content {
    width: 950px;
  }
  .content .top-sites .sites .site {
    width: 100px;
  }
  .content .feed .feed-menu :nth-child(n+6):nth-child(-n+9) {
    display: block;
  }
  .content .feed .feed-menu .feed-menu-morebutton .feed-menu-morebutton-dropdown :nth-last-child(n+3) {
    display: none;
  }
  .content .bottom-weather {
    order: 3 !important;
  }
}
@media (min-width: 1250px) {
  .content {
    width: 1250px;
  }
  .content .top-sites .sites .site {
    width: 135px;
  }
  .content .feed .feed-menu :nth-child(n) {
    display: block;
  }
  .content .feed .feed-menu :last-child {
    display: none;
  }
  .content .bottom-item2x2 {
    width: 610px;
  }
  .content .bottom-item2x2-picture {
    height: 100%;
  }
  .content .bottom-item2x2-h1 {
    margin-top: -110px;
    color: white;
  }
  .content .bottom-item2x2-source {
    color: white;
  }
  .content .bottom-item2x2-category {
    display: none;
  }
  .content .bottom-weather {
    order: 5 !important;
  }
}
