@main-font: Calibri, sans-serif, Arial;
@bg-color: #f1f1f1;

body {
	background-color: @bg-color;
	font-family: @main-font;
	font-size: 12px;
	margin: 0;

	h1 {
		font-size: 26px;
		font-weight: normal;
	}

	h2 {
		font-size: 16px;
		font-weight: 100;
	}
}

.content {
	width: 600px;
	margin: 0 auto;

	.search {
		h1 {
			text-align: center;
			margin-top: 35px;
			font-weight: 300;
		}
		margin: 0 auto;
		width: 60%;
		.searchflex {
			display: flex;
			flex-direction: row;
			outline: 1px solid grey;
			outline-width: thin;
			justify-content: center;
			margin-top: 25px;
			background-color: white;
			#lens {
				padding-top: 4px;
				padding-left: 5px;
			}
			input {
				width: 100%;
				padding: 5px;
				border: 0;
				font-size: 14px;
			}
			.arrow {
				color: white;
				background-color: #33AED6;
				font-size: 16px;
				width: 30px;
				height: 30px;
				text-align: center;	
				cursor: default;
				padding-top: 5px;			
			}
			.arrow:hover {
				opacity: .7;
			}
		}
	}

	.top-sites{
		.top-sites-header{
			h1 {
				font-size: 20px;
			}
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 5px;
			#gear {
				display: none;
			}
			#gear:hover {
				cursor: pointer;
			}
		}
		.sites {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 5px;
			.randomColor() {
  				@randomColor: `(Math.random()*0xFFFFFF<<0).toString(16)`;
  				@colorHex: e(@randomColor);
  				@color: ~"#@{colorHex}";
			}
			.site {
				.randomColor();
				width: 125px;
				height: 100px;
				background-color: @color;
				font-size: 16px;
				margin-bottom: 25px;
				&:hover {
					cursor: pointer;
					opacity: .9;
				}
				.site-img {
					height: 32px;
					width: 32px;
					display: block;
					margin: auto;
					margin-top: 10px;
				}
				p {
					text-align: center;
					margin: 0;
					padding-top: 5px;
				}
			}
		}
	}

	.feed {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 25px;
		height: 50px;
		position: -webkit-sticky;
		position: sticky;
		top: -1px;
		z-index: 1;
		background-color: @bg-color;
		&-menu {
			display: flex;
			margin-top: 15px;
			&-item {
				&:nth-last-child(-n+7) {
					display: none;
				}
				font-size: 20px;
				margin-left: 25px;
				color: black;
				text-decoration: none;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					display: block;
				}
				&:hover {
					color: #6A97EB;
				}
			}
			&-morebutton {
				font-size: 20px;
				margin-left: 25px;
				p {
					margin-top: -5px;
					margin-bottom: 0;
				}
				&:hover {
					cursor: pointer;
				}
				&-dropdown {
					display: none;
					position: absolute;
					background-color: white;
					min-width: 140px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					z-index: 1;
					&-item {
						display: block;
						text-decoration: none;
						color: black;
						width: 100%;
						h2 {
							height: 30px;
							text-align: left;
							font-size: 18px;
							font-weight: 400;
							margin: 0;
							padding-top: 15px;
							margin-left: 10px;
						}
						&:hover {
							background-color: #E6E6E6;
						}
						&:hover > h2 {
							color: #6A97EB;
						}
					}
				}
				&:hover .feed-menu-morebutton-dropdown {
					display: block;
				}
			}
			&-active {
				color: black;
				font-weight: 700;
				border-bottom: 3px solid black;
				padding-bottom: 3px;
			}
		}
		h1 {
			font-size: 12px;
			color: grey;
		}
	}

	.bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		margin-top: 5px;
		flex-direction: row;
		&-hidden {
			display: none;
		}
		&-weather {
			width: 290px;
			height: 350px;
			background-color: white;
			margin-bottom: 25px;
			&-header {
				display: flex;
				width: 90%;
				align-items: center;
				justify-content: space-between;
				margin: 0 auto;
				height: 40px;
				&-city {
					font-size: 18px;
					&:hover {
						text-decoration: underline;
						cursor: pointer;
					}
				}
				&-gotobutton {
					color: grey;
					&:hover {
						cursor: pointer;
					}
				}
				&-button {
					font-size: 26px;
					p {
						margin-bottom: 25px;
					}
					&:hover {
						cursor: pointer;
					}
				}
			}
			&-current {
				display: flex;
				width: 90%;
				align-items: center;
				justify-content: space-between;
				margin: 0 auto;
				margin-top: 15px;
				&-temperature {
					font-size: 60px;
					font-weight: 100;
					margin: 0;
				}
				&-celsium {
					position: relative;
					font-size: 26px;
					bottom: 20px;
				}
				&-condition {
					font-size: 16px;
					font-weight: 100;
					margin: 0;
				}
				&-precipitation {
					display: block;
				}
				&:hover {
					cursor: pointer;
				}
			}
			&-forecast {
				display: flex;
				width: 90%;
				align-items: center;
				justify-content: space-between;
				margin: 0 auto;
				margin-top: 20px;
				&-item {
					height: 150px;
					width: 45px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					background-color: @bg-color;
					&-day {
						margin: 10px 0;
					}
					&-logo {
						height: 32px;
						width: 32px;
					}
					&-maxtemp, &-mintemp {
						margin: 0;
						font-size: 20px;
					}
					&-mintemp {
						padding-bottom: 10px;
					}
					&-maxtemp {
						padding-top: 10px;
					}
					&:hover {
						cursor: pointer;
						filter: brightness(95%);
					}
				}
			}
			&-info {
				width: 90%;
				margin: 0 auto;
				margin-top: 10px;
				font-size: 12px;
				color: grey;
				font-weight: 200;
			}
		}
	
			&-item1x2, &-item2x2 {
				width: 290px;
				height: 350px;
				background-color: white;
				position: relative;
				margin-bottom: 25px;
				&-picture {
					height: 45%;
					width: 100%;
				}
				&-category {
					position: absolute;
					left: 10px;
					top: 175px;
					font-family: @main-font;
					font-size: 14px;
					color: black;
					text-decoration: none;
					border-bottom: 1px solid black;
					&:hover {
						color: grey;
						border-color: grey;
					}
					&:hover + .bottom-item1x2-h1 {
						text-decoration: none;
					}
				}
				&-h1 {
					position: absolute;
					font-weight: 300;
					margin-top: 40px;
					margin-left: 10px;
					margin-right: 10px;
				}
				&-source {
					position: absolute;
					left: 40px;
					bottom: 10px;
					font-size: 14px;
					color: grey;
				}
				&:hover {
					cursor: pointer;
				}
				&:hover .bottom-item1x2-picture, &:hover .bottom-item2x2-picture {
					filter: brightness(70%);
				}
				&:hover h1 {
					text-decoration: underline;
				}
			}
	}
}

.deleteWeather {
	animation: deleteWeather 2s;
    -webkit-animation: deleteWeather 2s;
}

.putNews {
	animation: putNews 2s;
    -webkit-animation: putNews 2s;
}

@keyframes deleteWeather {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes putNews {
	from {opacity: 0;}
	to {opacity: 1;}
}

@media (max-width: 949px) {
	.content .bottom-item1x2, .content .bottom-item2x2 {
		width: 290px;
		height: 350px;
		background-color: white;
		position: relative;
		margin-bottom: 25px;
		&-picture {
			height: 45%;
			width: 100%;
		}
		&-category {
			position: absolute;
			left: 10px;
			top: 175px;
			font-family: @main-font;
			font-size: 14px;
			color: black;
			text-decoration: none;
			border-bottom: 1px solid black;
			&:hover {
				color: grey;
				border-color: grey;
			}
			&:hover + .bottom-item1x2-h1 {
				text-decoration: none;
			}
		}
		&-h1 {
			position: absolute;
			font-weight: 300;
			margin-top: 40px;
			margin-left: 10px;
			margin-right: 10px;
		}
		&-source {
			position: absolute;
			left: 40px;
			bottom: 10px;
			font-size: 14px;
			color: grey;
		}
		&:hover {
			cursor: pointer;
		}
		&:hover .bottom-item1x2-picture, &:hover .bottom-item2x2-picture {
			filter: brightness(70%);
		}
		&:hover h1 {
			text-decoration: underline;
		}
	}
}

@media (min-width: 950px) {
	.content  {
		width: 950px;
	}
	.content .top-sites .sites .site {
		width: 100px;
	}
	.content .feed .feed-menu :nth-child(n+6):nth-child(-n+9) {
		display: block;
	}
	.content .feed .feed-menu .feed-menu-morebutton .feed-menu-morebutton-dropdown :nth-last-child(n+3) {
		display: none;
	}
	.content .bottom-weather {
		order: 3 !important;
	}
}

@media (min-width: 1250px) {
	.content {
		width: 1250px;
	}
	.content .top-sites .sites .site {
		width: 135px;
	}
	.content .feed .feed-menu :nth-child(n) {
		display: block;
	}
	.content .feed .feed-menu :last-child {
		display: none;
	}
	.content .bottom-item2x2 {
		width: 610px;
		&-picture {
			height: 100%;
		}
		&-h1 {
			margin-top: -110px;
			color: white;
		}
		&-source {
			color: white;
		}
		&-category {
			display: none;
		}
	}
	.content .bottom-weather {
		order: 5 !important;
	}
}